<modal-primary 
  #dialog 
  [id]="id()"
  [title]="title()"
  (ChangeDeletionConfirmation)="ChangeDeletionConfirmation.emit($event)"
  />

<div
  class="dropdown dropdown--left">
  
  <button
    class="dropdown__toggle"
    (click)="toggleDropdown()">
    <img src="./ellipsis-vertical-outline.svg" alt="icono de más opciones">
  </button>

  <ul
    class="dropdown__menu"
    [class.dropdown__menu--active]="isOpen()"
    (click)="toggleDropdown()">

    <li 
      class="dropdown__item"
      [routerLink]="['/form-product', 'edit', id()]"
      >Editar</li>
    <li 
      class="dropdown__item dropdown__item--danger" 
      (click)="showModalEliminar()"
      >Eliminar</li>

  </ul>

</div>