<div class="update-product">
  <h1 class="update-product__title">Edición de Registro</h1>
    @if (successMessage()) {
      <div class="update-product--message">
        {{ successMessage() }}
      </div>
    }
  <form 
    id="productForm"
    [formGroup]="facade.form" 
    class="update-product__form" 
    (ngSubmit)="onSubmit()">

    <div class="update-product__row">
      <input-primary
        class="update-product__field"
        [control]="facade.form.controls['id']"
        [label]="'ID'"
        [errorMessage]="getFormErrorMessage(facade.form.controls['id'])"
      />
      <input-primary
        class="update-product__field"
        [control]="facade.form.controls['name']"
        [label]="'Nombre'"
        [placeholder]="'Tarjeta Crédito'"
        [errorMessage]="getFormErrorMessage(facade.form.controls['name'])"
      />
    </div>

    <div class="update-product__row">
      <input-primary
        class="update-product__field"
        [control]="facade.form.controls['description']"
        [label]="'Descripción'"
        [errorMessage]="getFormErrorMessage(facade.form.controls['description'])"
      />
      <input-primary
        class="update-product__field"
        [control]="facade.form.controls['logo']"
        [label]="'Logo'"
        [errorMessage]="getFormErrorMessage(facade.form.controls['logo'])"
      />
    </div>

    <div class="update-product__row">
      <input-primary
        class="update-product__field"
        [control]="facade.form.controls['date_release']"
        [type]="'date'"
        [label]="'Fecha liberación'"
        [errorMessage]="getFormErrorMessage(facade.form.controls['date_release'])"
      />
      <input-primary
        class="update-product__field"
        [control]="facade.form.controls['date_revision']"
        [type]="'date'"
        [label]="'Fecha Revisión'"
        [errorMessage]="getFormErrorMessage(facade.form.controls['date_revision'])"
      />
    </div>
  </form>

  <div class="update-product__actions">
    <button-primary 
      class="update-product__button" 
      [variant]="'cancel'"
      [label]="'Cancelar'" 
      (click)="facade.cancelEditMode()"
      [disabled]="!facade.isEditMode()"
      />
    <button-primary 
      class="update-product__button" 
      [variant]="'cancel'"
      [label]="'Editar'" 
      (click)="facade.enableEditMode()"
      [disabled]="facade.isEditMode()"
      />
    <button-primary 
      class="update-product__button"
      [type]="'submit'"
      [variant]="'confirm'"
      [label]="'Actualizar'"
      [form]="'productForm'"
      [disabled]="!facade.form.valid || !facade.isEditMode()"
      />
  </div>

</div>
