<table class="table-primary">
    <thead class="table-primary__header">
        <tr class="table-primary__row">
            <th class="table-primary__header-cell">Logo</th>
            <th class="table-primary__header-cell">Nombre del producto</th>
            <th class="table-primary__header-cell">
                <div class="table-primary__header-content">
                    Descripción
                    <img class="table-primary__info-icon" src="./information-circle.svg" alt="Information">
                </div>
            </th>
            <th class="table-primary__header-cell">
                <div class="table-primary__header-content">
                    Fecha de liberación
                    <img class="table-primary__info-icon" src="./information-circle.svg" alt="Information">
                </div>
            </th>
            <th class="table-primary__header-cell">
                <div class="table-primary__header-content">
                    Fecha de restauración
                    <img class="table-primary__info-icon" src="./information-circle.svg" alt="Information">
                </div>
            </th>
            <th class="table-primary__header-cell"></th>
        </tr>
    </thead>
    <tbody class="table-primary__body">
        <tr class="table-primary__row">
            <td class="table-primary__cell">
                <img class="table-primary__logo"
                    src="https://www.visa.com.ec/dam/VCOM/regional/lac/SPA/Default/Pay%20With%20Visa/Tarjetas/visa-signature-400x225.jpg"
                    alt="visa">
            </td>
            <td class="table-primary__cell">Nombre del producto</td>
            <td class="table-primary__cell">Descripción</td>
            <td class="table-primary__cell">01/01/2000</td>
            <td class="table-primary__cell">01/01/2001</td>
            <td class="table-primary__cell table-primary__cell--actions">
                <dropdown-primary [type]="'dropdown'" />
            </td>
        </tr>
        <tr class="table-primary__row">
            <td class="table-primary__cell">
                <img class="table-primary__logo"
                    src="https://www.visa.com.ec/dam/VCOM/regional/lac/SPA/Default/Pay%20With%20Visa/Tarjetas/visa-signature-400x225.jpg"
                    alt="visa">
            </td>
            <td class="table-primary__cell">Nombre del producto</td>
            <td class="table-primary__cell">Descripción</td>
            <td class="table-primary__cell">01/01/2000</td>
            <td class="table-primary__cell">01/01/2001</td>
            <td class="table-primary__cell table-primary__cell--actions">
                <dropdown-primary [type]="'dropdown'" />
            </td>
        </tr>
        <tr class="table-primary__row">
            <td class="table-primary__cell">
                <img class="table-primary__logo"
                    src="https://www.visa.com.ec/dam/VCOM/regional/lac/SPA/Default/Pay%20With%20Visa/Tarjetas/visa-signature-400x225.jpg"
                    alt="visa">
            </td>
            <td class="table-primary__cell">Nombre del producto</td>
            <td class="table-primary__cell">Descripción</td>
            <td class="table-primary__cell">01/01/2000</td>
            <td class="table-primary__cell">01/01/2001</td>
            <td class="table-primary__cell table-primary__cell--actions">
                <dropdown-primary [type]="'dropdown'" />
            </td>
        </tr>
        <tr class="table-primary__row">
            <td class="table-primary__cell">
                <img class="table-primary__logo"
                    src="https://www.visa.com.ec/dam/VCOM/regional/lac/SPA/Default/Pay%20With%20Visa/Tarjetas/visa-signature-400x225.jpg"
                    alt="visa">
            </td>
            <td class="table-primary__cell">Nombre del producto</td>
            <td class="table-primary__cell">Descripción</td>
            <td class="table-primary__cell">01/01/2000</td>
            <td class="table-primary__cell">01/01/2001</td>
            <td class="table-primary__cell table-primary__cell--actions">
                <dropdown-primary [type]="'dropdown'" />
            </td>
        </tr>
        
    </tbody>
</table>