<section class="form-list-product">

  <article class="form-list-product__actions">
    <input-primary
      class="form-list-product__search"
      [control]="searchControl"
      [label]="''"
      [placeholder]="'Buscar...'"
    />
    <button-primary 
        class="form-list-product__add-button"
        [type]="'button'"
        [variant]="'confirm'"
        [label]="'Agregar'"
        [routerLink]="['/form-product', 'add']"
    />
  </article>
  
  <article class="form-list-product__table-wrapper">
      <table-primary 
          class="form-list-product__table"
          [data]="facade.paginatedProducts()"
          (ChangeDeletionConfirmation)="deleteProduct($event.id)"/>
    
     
  </article>

  <article class="form-list-product__footer">
    <span class="form-list-product__results">
      {{ facade.filteredProducts().length }} Resultados
    </span>
    
    <select-primary 
      [data]="facade.filteredProducts()"
      (valueChanged)="changeLimit($event)"
    />
  </article>
  
</section>