<section class="form-list-product">

  <article class="form-list-product__actions">
    <input-primary
      class="form-list-product__search"
      [control]="form.controls['search']"
      [label]="''"
      [placeholder]="'Buscar...'"
      [errorMessage]="getFormErrorMessage(form.controls['search'])"
    />
    <button-primary 
        class="form-list-product__add-button"
        [type]="'button'"
        [variant]="'confirm'"
        [label]="'Agregar'"
        [routerLink]="['/form-product', 'add']"
    />
  </article>
  
  <article class="form-list-product__table-wrapper">
      <table-primary 
          class="form-list-product__table"
          [data]="products()"
        />
    
  </article>

  <article class="form-list-product__footer">
    <span class="form-list-product__results">
      @if (products$ | async; as products) {
        {{ products.length }} Resultados
      }
    </span>
    @if (products$ | async; as products) {
      <select-primary 
        [data]="products"
        (valueChanged)="paginatedData($event)"
      />
    }
  </article>
  
</section>
